{%  extends "base.html" %}
{% block title %}Cookie Policy{% endblock %}
{% block body %}
<div class="col-lg-6">
            <h3>Policy on cookies</h3>
            <p>We use cookies to implement sessions on this website. This allows us to use persistent sessions,
            to store points on the missions and so on.</p>
            <p>Generally only companies need to include info on cookie policy, but we wanted to know how to do
            it, hence this page &#128521;</p>
        </div>
    </div>
</div>
{% endblock %}