{% extends "base.html" %}
{% block title %}What else is there?{% endblock %}
{% block body %}
<div class="container">

        <h3>About:</h3>

        <p>
            Some links if you are interested...
        </p>

       <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Link</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">METKA</th>
        <td><a href="https://metkaweb.fi/">https://metkaweb.fi/</a></td>
      <td>Info about ...</td>
    </tr>
  </tbody>
</table>

    </div>

{% endblock %}