{% extends "base.html" %}
{% block title %}What else is there?{% endblock %}
{% block body %}
<div class="container">

        <h3>About:</h3>

        <p>
            Some links if you are interested...
        </p>

       <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Link</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">METKA</th>
        <td><a href="https://metkaweb.fi/">https://metkaweb.fi/</a></td>
      <td>Info about the student union and activities planned by them</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Helpdesk</th>
        <td><a href="https://hd.metropolia.fi/">https://hd.metropolia.fi/</a></td>
      <td>If you need to reset your password or want to report a fault</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Personal drive Z:</th>
        <td><a href="https://webdisk.metropolia.fi/">https://webdisk.metropolia.fi/</a></td>
      <td>Alternatively you can access it through
          <span style="color:#3498DB">shell.metropolia.fi</span> by SSH or SFTP</td>
    </tr>
    <tr class="table-active">
      <th scope="row">WiFi</th>
        <td><a href="https://tietohallinto.metropolia.fi/display/itservices/Wireless+network">
            https://tietohallinto.metropolia.fi/display/itservices/Wireless+network</a></td>
      <td>Info on how to connect to Eduroam, the school WiFi infrastructure</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Software</th>
        <td><a href="http://mcp.metropolia.fi/">http://mcp.metropolia.fi/</a></td>
      <td>Get "free" software for use</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Moodle</th>
        <td><a href="http://moodle.metropolia.fi/">http://moodle.metropolia.fi/</a></td>
      <td>School e-learning environment</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Lukkarit</th>
        <td><a href="http://lukkarit.metropolia.fi/">http://lukkarit.metropolia.fi/</a></td>
      <td>School course schedule. Alternatively you can use Tuudo app</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Email</th>
        <td><a href="https://mail.metropolia.fi/">https://mail.metropolia.fi/</a></td>
      <td>School mail</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Health</th>
        <td><a href="https://oma.metropolia.fi/opiskelijoille/terveydenhuolto">
            https://oma.metropolia.fi/opiskelijoille/terveydenhuolto</a></td>
      <td>Student healthcare information</td>
    </tr>

  </tbody>
</table>
    </div>

{% endblock %}