{%  extends "story.html" %}
{% block title %}Mission 2{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body %}



    {% block nav %} {{ super() }} {% endblock %}

    <div class="row">

    <div class="col-lg-auto">
            <div class="list-group">
                <a href={{ url_for('content_bp.story') }} class="list-group-item list-group-item-action">
                    Start
                </a>
                <a href={{ url_for('content_bp.mission_1') }} class="list-group-item list-group-item-action">
                    Mission 1
                </a>
                <a href="#" class="list-group-item list-group-item-action active">
                    Mission 2
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action">
                    Mission 3
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 4
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 5
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 6
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 7
                </a>
            </div>
        </div>


    <div class="col-lg-8">


                <h4>{{ username }}</h4>
                <img id="robohash" src="https://robohash.org/{{username}}.png" style="width:100px; height:100px; display:block;"> <br>
                <h4>XP:</h4>
                <p id="points">{{ xp }}</p>

                    <p>
                        Mission 2 content blablabal
                    </p>

    </div>


    {% block leaderboard %} {{ super() }} {% endblock %}

    </div>



   <button type="button" class="btn btn-success" id="points_button">Bravo Mission Complete!</button><br>

<script>
    $('#points_button').click(function () {

        $.ajax({
           data:JSON.stringify({points:1,mission:2}),
           url: "/points",
           type: "POST",
           contentType: "application/json",
           dataType: "json",
           processData: false,
           success:function(result) {
                console.log('POST success')
                console.log(result.message)
                setTimeout(function (){
                    window.location = '#'
                }, 700);
           },
           error: function (error) {
                console.log('POST fail')
           }
        })
    }

    );
</script>

{% endblock %}