{%  extends "story.html" %}
{% block title %}Mission 1{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body %}

    {% block nav %} {{ super() }} {% endblock %}


    <div class="row">

    <div class="col-lg-auto">
            <div class="list-group">
        {% for mission in done %}
            {% if mission %}
                {% if loop.first %}
                    <a href="{{ url_for('content_bp.story') }}" class="list-group-item list-group-item-action active">
                    Start</a>
                {% elif loop.last %}
                    {# do nothing #}
                {% else %}
                <a href="{{ url_for('content_bp.mission_{0}'.format(loop.index - 1)) }}" class="list-group-item list-group-item-action active">
                    Mission {{ loop.index - 1 }}</a>
                {% endif %}

            {% else %}
                {% if loop.first %}
                    <a href="{{ url_for('content_bp.story') }}" class="list-group-item list-group-item-action disabled">
                    Start</a>
                {% elif loop.last %}
                    {# do nothing #}
                {% else %}
                <a href="{{ url_for('content_bp.mission_{0}'.format(loop.index - 1)) }}" class="list-group-item list-group-item-action disabled">
                    Mission {{ loop.index - 1 }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
            </div>
    </div>


    <div class="col-lg-6">


    <h2>Downloading Tuudo </h2>
    <p><span style="color:orange">Start by downloading the Tuudo-application</span> to your phone: <a href="https://www.tuudo.fi/">Tuudo</a>.
        From here you can access your student card, with which you are eligible for KELA-meal subsidy and public transport discounts.
        Furthermore, you can find your schedule, student meal menus, study credits and lots more useful information.
        Use some time to familiarise yourself with the application.</p>

        <h2>Navigation to Oma </h2>
        <p>Next head on into OMA at: <a href="https://oma.metropolia.fi">OMA</a> and use your Metropolia account to sign in.
            <span style="color:orange">OMA is the hub for everything important</span> so make sure to save it into your bookmarks.
            Once you have managed to log in, you can mark this part as complete. </p>

        <button type="button" class="btn btn-success" id="points_button">Alpha Mission Complete!</button><br>
    </div>
    <div class="col-sm-1">
        <h4 style="color:#F39C12">{{ username }}</h4>
        <img id="robohash" src="https://robohash.org/{{username}}.png" style="width:100px; height:100px; display:none;">
    </div>
    <div class="col-sm-1">
        <h4>XP <br></h4>
        <p id="points">{{ xp }}</p>
         Story progress
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>


    {% block leaderboard %} {{ super() }} {% endblock %}

    </div>

<script>
    $('#points_button').click(function () {

        $.ajax({
           data:JSON.stringify({points:1,mission:1}),
           url: "/points",
           type: "POST",
           contentType: "application/json",
           dataType: "json",
           processData: false,
           success:function(result) {
                console.log('POST success');
                console.log(result.message);
                setTimeout(function (){
                    window.location = '{{ url_for('content_bp.mission_2') }}'
                }, 700);
           },
           error: function (error) {
                console.log('POST fail')
           }
        })
    }

    );
</script>
{% endblock %}