{%  extends "story.html" %}
{% block title %}Mission 1{% endblock %}
{% block body %}



    {% block nav %} {{ super() }} {% endblock %}

    <div class="row">

    <div class="col-lg-auto">
            <div class="list-group">
                <a href={{ url_for('content_bp.story') }} class="list-group-item list-group-item-action">
                    Start
                </a>
                <a href="#" class="list-group-item list-group-item-action active">
                    Mission 1
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action">
                    Mission 2
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 3
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 4
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 5
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 6
                </a>
                <a href={{ url_for('content_bp.mission_2') }} class="list-group-item list-group-item-action disabled">
                    Mission 7
                </a>
            </div>
        </div>


    <div class="col-lg-8">


                <h4>{{ username }}</h4>
                <img id="robohash" src="https://robohash.org/{{username}}.png" style="width:100px; height:100px; display:block;"> <br>

                    <p>
                        Mission 1 content blablabal
                    </p>

    </div>


    {% block leaderboard %} {{ super() }} {% endblock %}

    </div>


{% endblock %}