{%  extends "story.html" %}
{% block title %}Mission 2{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body %}

    {% block nav %} {{ super() }} {% endblock %}

    <div class="row">

    <div class="col-lg-auto">
            <div class="list-group">
                <a href="{{ url_for('content_bp.story') }}" class="list-group-item list-group-item-action">
                    Start
                </a>
                <a href="{{ url_for('content_bp.mission_1') }}" class="list-group-item list-group-item-action">
                    Mission 1
                </a>
                <a href="#" class="list-group-item list-group-item-action active">
                    Mission 2
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action">
                    Mission 3
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 4
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 5
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 6
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 7
                </a>
            </div>
        </div>

    <div class="col-lg-6">

<p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
    the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>

                <button type="button" class="btn btn-success" id="points_button">Bravo Mission Complete!</button><br>
    </div>
    <div class="col-sm-1">
        <h4 style="color:#F39C12">{{ username }}</h4>
        <img id="robohash" src="https://robohash.org/{{username}}.png" style="width:100px; height:100px; display:none;">
    </div>
    <div class="col-sm-1">
        <h4>XP <br></h4>
        <p id="points">{{ xp }}</p>
    </div>


    {% block leaderboard %} {{ super() }} {% endblock %}

    </div>

<script>
    $('#points_button').click(function () {

        $.ajax({
           data:JSON.stringify({points:1,mission:2}),
           url: "/points",
           type: "POST",
           contentType: "application/json",
           dataType: "json",
           processData: false,
           success:function(result) {
                console.log('POST success');
                console.log(result.message);
                setTimeout(function (){
                    window.location = '#'
                }, 700);
           },
           error: function (error) {
                console.log('POST fail')
           }
        })
    }

    );
</script>

{% endblock %}