{%  extends "story.html" %}
{% block title %}About{% endblock %}
{% block body %}
    {% block nav %} {{ super() }} {% endblock %}
{{ username }}
<img src="https://robohash.org/{{username}}.png" width="240" height="240" alt="You are right now"> <br>

    Before turning into a robot, <i style="color:#F39C12">{{ username }}</i> used to be like
    <img src="https://robohash.org/{{username}}?set=set5" width="140" height="140" alt="You in the past">

    <br>Points, XP, other stuff will come here will come here.

{% endblock %}