{%  extends "story.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/xpbar.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/xpbar.css') }}">
{% endblock %}
{% block body %}


    {% block nav %} {{ super() }} {% endblock %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
        <img style=" width:240px; height:240px; display: block;"
             src="https://robohash.org/{{username}}.png" alt="You are right now"> <br>


        </div>
        <div class="col-lg-5">
            <p>Before turning into a robot, <i style="color:#F39C12">{{ username }}</i> used to be like</p>
            <img style=" width:200px; height:200px; display: block;" src="https://robohash.org/{{username}}?set=set5"
                 alt="You in the past">
        </div>



        <div class="col-lg-3">

        <p>{{xp * 100}} Total XP</p>
        {% for mission in done %}
            {% if mission %}
            <p>Mission {{ loop.index - 1 }}&nbsp;<span style="color:green">complete</span></p>
            {% else %}
            <p>Mission {{ loop.index - 1 }}&nbsp;<span style="color:indianred">not complete</span></p>
            {% endif %}
        {% endfor %}

        </div>
        <div class="col-lg-1">
        <h5>Achievements</h5>
            {% if badge %}
                <span class="badge badge-primary">Completionist</span>
            {% endif %}
        </div>

    </div>

        <div class="col-lg-8">
            <div id='account-bar-wrapper' style="background: #222222;">
                <div id='account-bar'>
                    <div id='account-bar-name'>{{ username }}</div>
                        <div id='account-bar-level'>Level 1</div>
                            <div id='xp-bar'>
                                <div id='xp-bar-fill'>
                                    <div id='xp-increase-fx'>
                                        <div id='xp-increase-fx-flicker'>
                                            <div class='xp-increase-glow1'></div>
                                            <div class='xp-increase-glow2'></div>
                                            <div class='xp-increase-glow3'></div>
                                        </div>
                                        <div class='xp-increase-glow2'></div>
                                    </div>
                                </div>
                            </div>
                    <div id='account-bar-next-level'>2</div>
                </div>
            </div>
        </div>



</div>

<script>
function doit(){
  $("#xp-increase-fx").css("display","inline-block");
  $("#xp-bar-fill").css("box-shadow",/*"0px 0px 15px #06f,*/ "-5px 0px 10px #fff inset");
  setTimeout(function(){$("#xp-bar-fill").css("-webkit-transition","all 2s ease");
  $("#xp-bar-fill").css("width","{{ ((xp * 100)/1400) * 100 }}%");},100);
  setTimeout(function(){$("#xp-increase-fx").fadeOut(500);$("#xp-bar-fill").css({"-webkit-transition":"all 0.5s ease","box-shadow":""});},2000);
}
</script>

{% endblock %}