{%  extends "story.html" %}
{% block title %}About{% endblock %}
{% block body %}

    {% block nav %} {{ super() }} {% endblock %}

    <div class="container">

        <h3>{{ username }}</h3>
        <img style=" width:240px; height:240px; display: block;" src="https://robohash.org/{{username}}.png" alt="You are right now"> <br>

        <p>Before turning into a robot, <i style="color:#F39C12">{{ username }}</i> used to be like</p>

        <img style=" width:140px; height:140px; display: block;" src="https://robohash.org/{{username}}?set=set5" alt="You in the past">

        <p>Points, XP, other stuff will come here will come here.</p>

    </div>




{% endblock %}