{% extends "base.html" %}
{% block title %}Story{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/story.js') }}"></script>
{% endblock %}

{% block body %}
    {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href={{ url_for('content_bp.story') }}>Story</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={{ url_for('content_bp.profile') }}>Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={{ url_for('content_bp.about') }}>About</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('auth_bp.logout') }}">
                  <button class="btn btn-danger disabled" id="logout" type="submit">Logout</button>
                </form>
              </div>
            </nav>

    {% endblock %}

    <div class="row">

        <div class="col-lg-auto">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Start
                </a>
                <a href="{{ url_for('content_bp.mission_1') }}" class="list-group-item list-group-item-action disabled">
                    Mission 1
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 2
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 3
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 4
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 5
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 6
                </a>
                <a href="{{ url_for('content_bp.mission_2') }}" class="list-group-item list-group-item-action disabled">
                    Mission 7
                </a>
            </div>
        </div>

        <div class="col-lg-6">


                <h4>That's you!</h4>
                <img id="robohash" src="https://robohash.org/{{username}}.png" style="display:none;"> <br>


                    <p>Welcome Tursas. Now that you have gotten your new identity as student of information and communications technology, it is time to learn a few things.</p>
                    <p>We know that the first few days can be a bit overwhelming.
                        Never worry, things will get clearer with time.
                        For now, you are to set out on a set of missions to get to know your way around the Metropolia platforms.
                        We will keep score on how you’re getting a long and you can compare yourself to your classmates on the leaderboard.</p>
                    <p>Make sure to complete each mission with some thought and feel free to revisit any of them later for a recap.
                        Once you are done, there is a quiz about your knowledge of Metropolia as a whole.
                        Feel free to contact your tutors if you have any questions! Once you are ready and briefed, get going! </p>
                <button type="button" class="btn btn-success" id="points_button">Briefing Complete</button><br>
        </div>
         <div class="col-sm-2">
             <h4 style="color:#F39C12">{{ username }}</h4>

             <h4>XP <br></h4>
             <p id="points">{{ xp }}</p>
         </div>
        {% block leaderboard %}
        <div class="col-lg-auto">

            <h2>Leaderboard</h2>

{#            <ol id="leaderboard"></ol>#}
        <table class="table table-hover" id="leaderboard">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Username</th>
              <th scope="col">XP</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        </div>
        {% endblock %}

    </div>


<script>
    $('#points_button').click(function () {

        $.ajax({
           data:JSON.stringify({points:1,mission:0}),
           url: "/points",
           type: "POST",
           contentType: "application/json",
           dataType: "json",
           processData: false,
           success:function(result) {
                console.log('POST success');
                console.log(result.message);
                setTimeout(function (){
                    window.location = '{{ url_for('content_bp.mission_1') }}'
                }, 700);
           },
           error: function (error) {
                console.log('POST fail')
           }
        })
    }

    );
</script>
{% endblock %}



